p{
   background-color: lightpink;
}

a{
    background-color: cyan;
}

div{
    background-color: rgb(255, 155, 255);
}

a{
    background-color: darkseagreen;
}

span{
    background-color: rgb(23, 243, 122);
}
